* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    background-color: #78998B;
}
nav > ul {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2em;
}
nav > ul > li {
    list-style-type: none;
}
nav > ul > li:nth-of-type(5){
    margin-right: auto;
}
nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    padding: 2em 1em;
    &:hover {
        opacity: 0.75;
        background-color: #3E5371;
    }
}
body {
    background-color: #3E5371;
}
.container {
    margin: 0 3%; 
}
h1 {
    text-align: center;
    padding: 2em 3em;
}
.listOfJobs,
h1 {
    color: #fff;
}
.listOfJobs {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   row-gap: 5em;
   column-gap: 2em;
   padding-bottom: 5em;
}
.listOfJobs > li {
    border-radius: 0.15em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 20em;
    width: 100%;
    padding: 1em;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 0.25s;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}
.listOfJobs > li > a {
    margin-top: auto;
    color: #78998B;
    text-decoration: none;
    &:hover {
        color: gold;
    }
}